@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="container">
    <div class="col s12 m6 offset-m3">
        <div class="col s12 m6 offset-m3">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Email" class="validate" />
                        <label asp-for="Email" ></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Reset
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


